body {
    background-color: rgb(202, 17, 17);
}

#port img {
    height: 350px;
    width: 350px;
    margin: 15px;
}

#about img {
    height: 150px;
    width: 150px;
    margin: 15px;
}

#about p {
    margin: 15px;
}

.container {
    background-color: white;
}