body {
    background-color: black;
}

main {
    margin-top: 75px;
}

#submit-btn {
    margin-bottom: 15px;
}

#port img {
    height: 350px;
    width: 350px;
    margin: 15px;
}

#port {
    background-color: white;
}

#about {
    background-color: white;
}

#contact {
    background-color: white;
}